/* Header styling */
header {
    display: block;
    width: 80%;
    margin: 20px 10% 20px;
    border: 2px solid darkred;
}

header p {
    margin: 20px 0px 30px;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px;
}

/* Nav styling */
nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin: 20px 10%;
    border: 2px solid darkred;
}

.btn {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 35px;
    text-align: center;
    color: darkred;
    text-decoration: none;
    margin: 0px;
    padding: 5px 20px;
}

/* Unused font */
/* p {
    font-family: 'Lora', serif;
} */

/* From when I thought the hero image wasn't part of the grid */
/* #hero {
    display: block;
    width: 80%;
    margin: 20px 10% 40px;
    padding: 0px;
}
#hero img {
    display: inline-block;
    width: 100%;
} */

/* Grid styling and configuration */
#grid {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
    width: 80%;
    margin: 40px 10% 30px;
    gap: 2em;
}

/* Styling for the hero image */
#hero {
    display: inline-block;
    grid-area: 1 / 1 / 3 / 4;
    width: auto;
    width: 100%;
}

/* Styling for the 6 smaller images */
.gallerypic {
    display: inline-block;
    width: auto;
    width: 100%;
}

/* footer styling */
footer {
    display: block;
    width: 80%;
    margin: 30px 10% 20px;
    border: 2px solid darkred;
}

footer p {
    margin: 10px 0px 5px;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
}